---


---

$lightest-grey: #fcfcfc;
$lighter-grey: #c7c7c7;
$light-grey: #b4b4b4;
$grey: #999999;
$dark-grey: #444444;
$salmon: #FFA07A;
$light-salmon: $salmon;
$blue: #365c99;

$border-panel: #eee;

$spacing: 5px;
$spacing-2: 10px;
$spacing-3: 15px;
$spacing-4: 20px;
$spacing-4: 25px;
