<footer class="footer">
  <small>
    <ul class="links">
      <li><a href="/about" class="little-link">About</a></li>
      <!--<li><a href="/freelance" class="little-link">Freelance</a></li>-->
      <li><a href="https://dribbble.com/jordanbibla" target="_blank" class="little-link">Dribbble</a></li>
      <li><a href="https://medium.com/@jordanbibla" target="_blank" class="little-link">Medium</a></li>
      <li><a href="https://twitter.com/jordanbibla" target="_blank" class="little-link">Twitter</a></li>
    </ul>
  </small>
</footer>

<!-- <script>
  var burger = document.getElementById('burger-button');
  burger.addEventListener('click', function (e) {
      e.preventDefault();
      document.body.classList.toggle('open');
      burger.classList.toggle('open');
  });
</script> -->
